$icon-font-path: "sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
$blue: #309CC8;
$orange: #DC6B38;
$grey-dark: #444444;
$grey-medium: #868279;
$grey-light: #F4F4F4;
$white: #FFF;
$black: #000;

$min-height: 1500px;

body{
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: $grey-medium;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova", Arial, sans-serif;
    font-weight: 300;
    color: $grey-dark;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.admonition-title {
    font-weight: bold;
}

.content {
    padding: 24px 0;
}

.intro {
    p {
        font-size: 1.2em;
    }
}

.headerlink {
    display: none;
}

.dashed {
  border-top: 1px dashed #d2d0d0;
}

.logosquare {
  padding: 65px 20px;
  height: 200px;
  width: 100%;
  display: block;
  text-align: center;
  background: url("../images/logo.jpg") center center no-repeat;
  background-size: auto 80%;
  background-color: $blue;
}

.read-more {
    color: $orange;
    text-decoration: underline;
}

.nav-pills {
    background-color: $grey-light;
    font-size: 1.2em;

    > li {
        &.active {
            > a, > a:hover {
                font-weight: bold;
                color: $grey-dark;
                background-color: inherit;

                &:after {
                    content: '';
                    position: relative;
                    left: 10px;
                    top: 0px;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    vertical-align: middle;
                    border-top: 4px solid;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;                    
                }                
            }
        }

        a {
            padding-left: 30px;
            color: $grey-dark;
        }
    }
}

.rjm-sidebar {

    .nav .nav {
        // display: none; /* Hide by default, but at >768px, show it */
        margin-bottom: 8px;

        li > a {
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 30px;
          font-size: 0.8em;
          color: $grey-medium;
        }
    }

}

.code-box {
    background: $grey-light;
    border: 1px solid #BFBFBF;
    border-radius: 7px;
    margin-bottom: 20px;

    .nav {
        background: #E3E3E3;
        width: 100%;
        padding: 3px 15px;
        border-radius: 7px 7px 0 0;
        clear: both;
        overflow: hidden;

        li {
            float: left;
            margin: 5px 5px;
            border-radius: 5px;
            font-size: 0.70em;
            font-weight: 400;
            text-transform: uppercase;

            a {
                padding: 2px 10px;

                &:hover {
                    background: $grey-dark;
                    border-radius: 5px;
                    color: #C5D0D3;
                    cursor: pointer;             
                }                
            }

            &.active {
                a {
                    background: $grey-dark;
                    border-radius: 5px;
                    color: #C5D0D3;
                    cursor: pointer;             
                }
            }
        }
    }

    .code {
        clear: both;
        border: none;
        background: none;
        margin: 0;
        padding: 15px 20px;

        pre {
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}

.sphinxsidebarwrapper {
    ul, li {
        list-style: none;
    }

    .toctree-l1 {
        ul {
            padding: 0;

            li {
                font-size: 0.8em;
                padding: 0 0 5px 0;

                a {
                    color: $grey-medium;
                }
            }
        }
    }
}


#wrapper > .row {
    margin-right: 0;
}

#api-documentation > .row .examples { 
    top: -110px;
    padding-left: 0;
    padding-right: 0;

    .code-box {
        .nav {
            display: block;
            border-radius: 0;
            z-index: 100;

            &.affix {
                top: 0;
            }
        }
        .tab-content {
            display: none;
        }
    }
}

.section {
    $marginHorizontal: 30px;

    h1, h2, h3, p, .code-box, .alert {
        margin-left: $marginHorizontal;
        margin-right: $marginHorizontal;
    }

    .split-pane {
        margin-right: 0;
    }
}

.examples {
    background: $grey-dark;
    color: $white;
    margin-bottom: -400px;
    padding-bottom: 400px;
    // min-height: $min-height;

    .code-selector {
        border-radius: 0;
        border: none;
        background: none;

        .nav {
            border-radius: 0;
            padding: 15px 5px;
            color: $grey-dark;
            border-bottom: 4px solid $black;
        }

        .code {
            color: #FFF0E7; 
        }
    }

    .code-box {
        background: none;
        border: none;
        margin-left: 0;
        margin-right: 0;

        .nav {
            display: none;
        }

        pre {
            background: none;
        }
    }    
}

@import 'pygments-api';